body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
    50%{
        background-position: 100% 50%;
    }
	100% {
		background-position: 0% 50%;
	}
}

.container{
    width: min(99vw,99vh);
    height: min(99vw,99vh);
    display: grid;
    grid-template-columns: repeat(20,4fr);
    grid-template-rows: repeat(20,4fr);

    background-image:linear-gradient(90deg,rgb(218, 0, 218),rgb(0, 0, 187),rgb(255, 0, 255),rgb(0, 0, 255));
    background-size:400%;
    animation-name:gradient;
    animation-timing-function: ease;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.box{
    transition: 100ms;
    background-color: black;
    margin: 1px;
}

